.img {
	height: 20vh;
	width: auto;
}
.section {
	display: flex;
	flex-direction: column;
	width: 20vw;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding-top: 1em;
	border-radius: 10px;
	background-color: var(--primary-color);
	background-size: cover;
	transform: transition .1s;
	border: solid white 3px;
	@media screen and (max-width: 450px) {
		width: 80vw;
	}
}
.section:hover {
	transform: scale(1.1);
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 18vw;
	gap: 1em;
	padding: 2em 1em;
	border-radius: 10px;
	color: white;
	border: 4px white solid;
	height: 12em;
	@media screen and (max-width: 450px) {
		width: 70vw;
	}
}
.paragraf {
	text-align: center;
	color: black;
	font-size: 1.1em;
	color: white;
}
.price {
	color: red;
	font-weight: bold;
	font-size: 1.1em;
}
.button {
	background-color: orange;
	padding: 5px;
	border-radius: 10px;
	font-family: "Courier New", Courier, monospace;
	color: black;
	font-weight: bold;
}
